################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

packages/
obj/
bin/
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
*.vspscc
*.vssscc
.vscode/
*.vc.vc.opendb
*.jpg
*.PNG